---
layout: default
---

<!-- Nutshell by Nicky Case. Copy-pasted into every page that needs it because I'm not smart. -->
<header>
<script src="https://cdn.jsdelivr.net/gh/ncase/nutshell@1.0.2/nutshell.js"></script>
</header>

<article class="post">
  <div class="breadcrumbs">
{% include breadcrumbs.html %}
  </div>

  <h1>{{ page.title }}</h1>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}<br>
    Reading time: about {% include reading-time.html %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

</article>
